.home-container {
  .description-section {
    padding: 40px 20px;
    // background-color: #f8f9fa;
    text-align: center;
    // background: url(../assets/images/bg2.jpg);
    h1 {
      font-size: 3.2rem;
      margin-bottom: 15px;
      color: #2c3e50;
    }

    p {
      font-size: 1.1rem;
      max-width: 800px;
      margin: 0 auto;
      line-height: 1.6;
      color: #2c3e50;
      padding-bottom: 40px;
    }
  }

  .carousel-container {
    max-width: 100%;
    margin: 0 auto;
  }

  .gradient-slide {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  }

  .gradient-slide-1 {
    // background: linear-gradient(135deg, #ff9a9e 0%, #fad0c4 100%);
    background: url(../assets/images/bg1.jpg) no-repeat;
    background-size: 120% 160%;
    background-position: 70% 60%;
    & .legend {
      font-size: 36px;
      background: none;
      font-weight: bold;
    }
  }

  .gradient-slide-2 {
    // background: linear-gradient(135deg, #a18cd1 0%, #fbc2eb 100%);
    background: url(../assets/images/bg2.jpg) no-repeat;
    background-size: 100% 160%;
    background-position: 60% 70%;
    & .legend {
      font-size: 36px;
      background: none;
      font-weight: bold;
    }
  }

  .gradient-slide-3 {
    // background: linear-gradient(135deg, #ffecd2 0%, #fcb69f 100%);
    background: url(../assets/images/Bg1.png) no-repeat;
    // background-size: 100% 150%;
    // background-position: 120% 50%;
    background-size: 100% 100%;
    background-position: 100% 100%;
    & .legend {
      font-size: 36px;
      background: none;
      font-weight: bold;
    }
  }
  .parallax-section1 {
    position: relative;
    // height: 750px;
    margin: 3rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    text-align: center;
    .parallax-content {
      //   background-color: rgba(0, 0, 0, 0.5);
      background: linear-gradient(to top, #2a435f 0%, #171d25 100%);
      //   background: url(../assets/images/bg2.jpg);
      //   background-size: 100% 100%;
      padding: 50px 40px;
      border-radius: 10px;
      max-width: 90%;

      h2 {
        font-size: 3rem;
        // margin-bottom: 20px;
        margin: 0;
      }

      p {
        font-size: 1.2rem;
      }
    }
  }

  .parallax-section {
    position: relative;
    height: 400px;
    margin: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    text-align: center;

    .parallax-content {
      //   background-color: rgba(0, 0, 0, 0.5);
      background: linear-gradient(to top, #2a435f 0%, #171d25 100%);
      //   background: url(../assets/images/bg2.jpg);
      //   background-size: 100% 100%;
      padding: 50px 40px;
      border-radius: 10px;
      max-width: 80%;

      h2 {
        font-size: 3rem;
        // margin-bottom: 20px;
        margin: 0;
      }

      p {
        font-size: 1.2rem;
      }
    }
  }

  .gradient-parallax-1 {
    // background: linear-gradient(135deg, #84fab0 0%, #8fd3f4 100%);
  }

  .gradient-parallax-2 {
    // background: linear-gradient(135deg, #f6d365 0%, #fda085 100%);
  }

  .content-section {
    padding: 60px 20px;
    // background-color: #f4f4f4;
    background: url(../assets/images/Bg1.png) no-repeat;
    // background-size: 100% 150%;
    // background-position: 120% 50%;
    background-size: 100%;
    background-position: 150% 20%;

    h2 {
      text-align: center;
      //   margin-bottom: 40px;
      margin: 0;
      font-size: 2.5rem;
      color: #fff;
    }

    p {
      text-align: center;
      font-size: 1.2rem;
      margin-bottom: 40px;
      color: #fff;
    }

    // .scrollable-banner {
    //   overflow: hidden;
    //   white-space: nowrap;
    //   position: relative;

    //   &:hover .scrollable-cards {
    //     animation-play-state: paused;
    //   }

    //   .scrollable-cards {
    //     display: inline-flex;
    //     animation: scroll-left 10s linear infinite;

    //     .card {
    //       flex: 0 0 300px;
    //       background-color: white;
    //       padding: 20px;
    //       border-radius: 8px;
    //       box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    //       margin-right: 20px;
    //       scroll-snap-align: start;
    //       transition: transform 0.3s ease-in-out;
    //       display: flex;
    //       flex-direction: column;
    //       align-items: center;
    //       justify-content: center;
    //       vertical-align: top;
    //       white-space: normal;

    //       &:hover {
    //         transform: scale(1.05);
    //       }

    //       h3 {
    //         font-size: 1.5rem;
    //         // margin-bottom: 10px;
    //         margin: 0;
    //         text-align: center;
    //       }

    //       p {
    //         font-size: 1rem;
    //         color: #000;
    //       }
    //     }
    //   }
    // }

    .scrollable-cards {
      display: flex;
      overflow-x: auto;
      scroll-snap-type: x mandatory;
      padding: 20px;

      .card {
        flex: 0 0 300px;
        background-color: white;
        padding: 3rem;
        border-radius: 8px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        margin-right: 20px;
        scroll-snap-align: start;
        transition: transform 0.3s ease-in-out;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &:hover {
          transform: scale(1.05);
        }

        h3 {
          font-size: 1.8rem;
          margin: 0 0 1rem 0;
          text-align: center;
        }

        p {
          font-size: 1rem;
          color: #000;
          margin: 0;
        }
      }
    }
  }

  //   @keyframes scroll-left {
  //     from {
  //       transform: translateX(0);
  //     }
  //     to {
  //       transform: translateX(-50%);
  //     }
  //   }
}
