.projects-main {
  position: relative;
  width: 80%;
  margin: 40px auto;
  &__title {
    font-size: 28px;
    font-weight: bold;
    padding: 0;
  }
}

@media screen and (max-width: 768px) {
  /* Adjustments for mobile devices */
  .projects-main {
    width: 90%;
    &__title {
      font-size: 22px;
    }
  }
}
